[submodule "src/acceptance-tests-brain/test-resources/rails-example"]
	path = src/acceptance-tests-brain/test-resources/rails-example
	url = https://github.com/scf-samples/rails-example.git
[submodule "src/acceptance-tests-brain/test-resources/python-mongodb-blog"]
	path = src/acceptance-tests-brain/test-resources/python-mongodb-blog
	url = https://github.com/scf-samples/python-mongodb-blog.git
[submodule "src/acceptance-tests-brain/test-resources/cf-redis-example-app"]
	path = src/acceptance-tests-brain/test-resources/cf-redis-example-app
	url = https://github.com/scf-samples/cf-redis-example-app
[submodule "src/acceptance-tests-brain/test-resources/persi-acceptance-tests"]
	path = src/acceptance-tests-brain/test-resources/persi-acceptance-tests
	url = https://github.com/cloudfoundry/persi-acceptance-tests.git
[submodule "src/github.com/docker/distribution"]
	path = src/github.com/docker/distribution
	url = https://github.com/docker/distribution.git
[submodule "src/github.com/cloudfoundry/cf-acceptance-tests"]
	path = src/github.com/cloudfoundry/cf-acceptance-tests
	url = https://github.com/cloudfoundry/cf-acceptance-tests.git
[submodule "src/github.com/SUSE/testbrain"]
	path = src/github.com/SUSE/testbrain
	url = https://github.com/SUSE/testbrain.git
